* {
    margin: 0;
    padding: 0;
    font: inherit;
    background-color: #000000;
    font-family: dogicaBold;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: pixelmix;
    src: url(font/pixelmix.ttf);
}
@font-face {
    font-family: dogicaBold;
    src: url(font/dogicabold.ttf);
}
.bloco{
    width: 90%;
    height: 90%;
    margin-top: 2.5%;
    margin-left: 5.2%;
    background-image: url(img/bloco.png);
    background-size: 100% 100%;
    position: absolute;
}
.smenu{
    width: 7%;
    height: auto;
    margin-top: -0.5%;
    margin-left: 0.7%;
}